:root {
    --background: #c3ebff;
    --foreground: #a0dbf3;
    --border-highlight: #4ad5e7;
}

body {
    background-color: var(--background);
}

header {
    background-color: var(--foreground);
    color: black;
    text-align: center;
    display: flex;
    border-bottom: 2px solid var(--border-highlight);
}

h1 {
    font-size: 70px;
    font-weight: 200;
    width: 100%;
    text-align: center;
    padding: auto;
    margin: auto;
    align-items: center;
}

h2, h3 {
    text-transform: capitalize;
    text-align: center;
}

p {
    font-size: 18px;
    overflow-wrap: break-word;
    word-break: break-all;
}

a {
    overflow-wrap: break-word;
    word-break: break-all;
}

ul {
    font-size: 18px;
    padding-left: 10px;
    line-height: 30px;
}

.container {
    margin: auto;
    text-align: center;
    display: flex;
}

.row {
    justify-content: space-around;
    margin: auto;
}

.card {
    margin: 20px 10px;
    border: 2px solid var(--border-highlight);
    min-height: 200px;
    min-width: 200px;
    font-size: 14px;
    overflow-wrap: break-word;
    padding-top: 12px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 5px;
    flex: auto;
    background-color: var(--foreground);
}

.ID, .email, .office, .github, .school {
    text-align: left;
}

@media screen and (max-width: 991px) {

    p, ul {
        font-size: 24px;
        line-height: 35px;
    }

    ul {
        margin-left: 75px;
        margin-right: 75px;;
    }

    .invisible {
        display: none;
    }
}